a{
    color: yellow;
}

body{
        background-image: url("silverware.jpg");
        background-repeat: repeat;

}

dt{
    background-color: aqua;
}

h1, h4{
    background-color: lightgray;
    color: yellow;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

h2{
    background-color: lightgray;
    color: yellow;
    font-family: sans-serif;
    text-align: left;
    text-decoration: underline;
}

ul{
    list-style-image: url("fish_icon_24.png");
}

.comment{
    font-style: italic;
    margin-left: 40px;
    background-color: lightgoldenrodyellow;
}

.det{
    border-spacing: 300px;
    color: sandybrown;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}

.header{
   font-weight: bold;
}

.short{
    text-decoration: underline;
}
